.home-page {
    width: 100%;
    height: 100%;
}

.home-page-landing {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

.landing-left {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.landing-left-content {
    text-align: right;
    padding: 1em 1em 1em 3em;
}

.landing-left-content h1 {
    color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 5em;
    line-height: 1em;
    margin-bottom: .5em;
    margin-top: -4em;
}

.landing-left-content p {
    font-size: 2em;
    margin-bottom: 1em;
    line-height: 1em;
    text-shadow: 1px 1px 5px black;
}

.landing-left-content button {
    font-size: 1.2em;
    padding: 1em 2em;
}
