/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li,
ul,
ol {
  margin: 0;
  text-indent: 0;
  list-style-type: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  width: 100%;
  margin: 1em 0 2em 0;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(107, 107, 107);
}

header {
  width: 900px;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 2em 0 1em 3em;
  background-color: rgb(222, 235, 239);
  border: 1px solid rgb(221, 220, 220);
  border-bottom: none;
}

img {
  width: 150px;
  margin-right: 6.5em;
}

h1 {
  font-size: 3em;
  color: black;
}

h2 {
  font-size: 1.8em;
  color: rgb(118, 168, 198);
  letter-spacing: 2px;
}

main {
  width: 900px;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  border: 1px solid rgb(221, 220, 220);
  border-top: none;
}

.section-one {
  max-width: 600px;
  text-align: justify;
  padding-bottom: 2em;
  padding-right: 2em;
}

h3 {
  color: rgb(118, 168, 198);
  letter-spacing: 4px;
  margin-top: 1em;
}

h4 {
  color: black;
  margin: 0.7em 0 0.3em 0;
}

.date {
  font-style: italic;
  font-size: .9em;
  margin-bottom: .3em;
}

.section-two {
  width: 300px;
  padding: 1.5em 2em;
  font-size: 0.85em;
  margin-right: 3em;
  padding-bottom: 3em;
  background-color: rgb(222, 235, 239);
}

h5 {
  font-size: 1.1em;
  padding: 0;
  margin: 0 0 0.5em 0;
  letter-spacing: 2px;
}

.section-two > div {
  margin-bottom: 2.5em;
}

span {
  font-weight: bold;
}


@media (max-width: 915px) {
  body {
    padding: 0;
    margin: 0;
  }

  header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0;
    margin: auto;
    padding: 0;
    padding: 1em .5em;
    border: none;
  }

  h2 {
    margin-bottom: .5em;
  }

  img {
    margin: 0;
    width: 50%;
    max-width: 250px;
    margin-bottom: .5em;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }

  .section-one {
    margin: 2em auto 2em auto;
    padding: 0 1em;
    text-align: left;
  }

  .section-two {
    width: 100%;
    padding: 3em 1.5em;
    text-align: center;
  }

  .section-two p {
    margin: auto;
    width: 100%;
    max-width: 400px;
    padding: 0 1em;
  }
}

@media (max-width: 650px) {
  body {
    font-size: .9em;
  }
}