form {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    
    > * { // all form children
      flex: 1 0 33%;
    }
}

app-address-inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

mat-form-field, button {
    max-height: 4.9em;
}