<div>

  <mat-card>
    <mat-card-title>Register</mat-card-title>

    <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm.value)">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input ngModel matInput required name="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input ngModel matInput name="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input ngModel matInput required name="email" email />
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input ngModel matInput required name="password" type="password" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input ngModel matInput name="phone" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Website</mat-label>
        <input ngModel matInput name="website" />
      </mat-form-field>
    
      <!-- if we wanted to separete the address section of the form in another component -->
      <app-address-inputs></app-address-inputs>
    
      <!-- <mat-form-field>
        <mat-label>Street</mat-label>
        <input ngModel matInput name="street" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Suite</mat-label>
        <input ngModel matInput name="suite" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input ngModel matInput name="city" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Zipcode</mat-label>
        <input ngModel matInput name="zipcode" />
      </mat-form-field> -->
    
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="signInForm.invalid"
      >
        Sign in
      </button>
    </form>

  </mat-card>
  
</div>
