nav {
    padding: 1em;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
}

.left-side, .right-side {
    display: flex;
}

.left-side {
    li {
        list-style-type: none;
        padding: 0 2em;

        a {
            text-decoration: none;
            color: white;
            letter-spacing: 1px;
        }
    }
}

.right-side {
    li {
        list-style-type: none;
        padding: 0 2em;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            letter-spacing: 1px;
        }

        a:hover {
            border-bottom: 1px solid white;
            padding-bottom: .2em;
        }
    }
}

.link-active {
    border-bottom: 1px solid white;
    padding-bottom: .2em;
}   