<nav>
  <ul>
    <div class="left-side">
      <li>
        <a 
          routerLink="/" 
          >Blazar Academy
        </a>
      </li>
    </div>

    <div class="right-side"> 
      <li>
        <a 
          routerLink="" 
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="{exact: true}" 
          >Home
        </a>
      </li>
      <li>
        <a 
          routerLink="/login" 
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="{exact: true}"
          >Login
        </a>
      </li>
      <li>
        <a 
            routerLink="/sign-in" 
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="{exact: true}"
          >Sign up
        </a>
      </li>
      <li>
        <a 
          *ngIf="isLoggedIn$ | async"
          routerLink="/profile/:id"
          routerLinkActive="link-active"
          >Profile
        </a>
      </li>
      <li>
        <a 
          *ngIf="isLoggedIn$ | async"
          routerLink="/"
          (click)="onLogout()"
          >Logout
        </a>
      </li>
    </div>
  </ul>
</nav>