<nav>
  <ul>
    <li>
      <a 
        routerLink="/" 
        routerLinkActive="link-active"
        >Home
      </a>
    </li>
    <li>
      <a 
        routerLink="/login" 
        routerLinkActive="link-active"
        >Login
      </a>
    </li>
    <li>
      <a 
        routerLink="/sign-in" 
        routerLinkActive="link-active"
        >Sign up
      </a>
    </li>
    <li>
      <a 
        *ngIf="isLoggedIn$ | async"
        routerLink="/profile/:id"
        routerLinkActive="link-active"
        >Profile
      </a>
    </li>
  </ul>
</nav>