<nav>
    <ul>
        <div class="navbar-left">
            <li>
                <a>Blazar Academy</a>
            </li>
        </div>
        <div class="navbar-right">
            <li>
                <a *ngIf="!isLoggedIn()" (click)="login()">Login</a>
            </li>
            <li>
                <a *ngIf="isLoggedIn() && userHasProfile">Hello, {{ userDocument.publicName }}</a>
            </li>
            <li>
                <a *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
            </li>
        </div>
    </ul>
</nav>

<router-outlet></router-outlet>

<!-- <app-profile [show]="isLoggedIn() && !userHasProfile"></app-profile> -->