<div class="main">
  <div class="header">
    <div class="title-side">
      <h1>{{ title }}</h1>

      <label for="addItemInput">What would you like to do today?</label>

      <div class="input-container">
        <input
          #newItem
          placeholder="Add a new item"
          (keyup.enter)="addItem(newItem.value); newItem.value = ''"
          class="lg-text-input"
          id="addItemInput"
        />

        <button class="add-btn" (click)="addItem(newItem.value)">+</button>
      </div>
    </div>

    <div class="filter-side">
      <h3>Filter your to-dos</h3>

      <div class="btn-container">
        <button
          class="btn btn-filter"
          [class.active]="filter == 'all'"
          (click)="filter = 'all'"
        >
          All
        </button>

        <button
          class="btn btn-filter"
          [class.active]="filter == 'todo'"
          (click)="filter = 'todo'"
        >
          To Do
        </button>

        <button
          class="btn btn-filter"
          [class.active]="filter == 'completed'"
          (click)="filter = 'completed'"
        >
          Done
        </button>
      </div>
    </div>
  </div>

  <ul>
    <li *ngFor="let i of items">
      <app-item (remove)="remove(i)" [item]="i"></app-item>
    </li>
  </ul>
</div>
