* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(244, 208, 214), rgb(189, 189, 237));
}

h1 {
    font-family: monospace;
    font-size: 3em;
    text-align: center;
}

h2 {
    margin-top: 2em;
    font-family: monospace;
    font-size: 2.5em;
    text-align: center;
}

table {
    background-color: rgba(222, 236, 241, .8);
    border-radius: 5px;
    padding: 2em 3em;
}

th {
    padding-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
}

th:first-child {
    display: none;
}

th:last-child {
    display: none;
}

tr {
    border-bottom: 1px solid black;
}

td {
    padding: .5em 1em .5em .5em;
    border: 1px solid white;
    font-family: monospace;
    font-size: 1.2em;
}

td:first-child {
    display: none;
    padding: 1;
    text-align: center;
}

td:last-child {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 2em;
    height: 2em;
    background-color: red;
    border: 2px solid red;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

td:last-child:hover {
  border: 2px solid yellow;
  cursor: pointer;
}

span {
    margin-top: 2em;
    font-size: 3em;
}

input {
    display: inline;
    margin: .5em;
    padding: 1em;
    min-width: 400px;
    border: none;
    background-color: whitesmoke;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .9em;
}

button {
    padding: 1em;
    border: none;
    border-radius: 5px;
    border: 1px solid lightsteelblue;
    background-color: lightsteelblue;
    margin-top: 2em;
    margin-bottom: 15em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 250ms ease-in-out;
}

button:hover {
    cursor: pointer;
    border: 2px solid yellow;
}